.gameboard-container {
  height: 100vh;
}

.row-display {
  display: flex;
  flex-direction: column;
}

.column-display {
  display: flex;
  flex-direction: row;
}

.timeline {
  width: 500px;
  background-color: darkgray;
  margin: 50px auto 0;
}

.action-plan {
  min-width: 150px;
  min-height: 400px;
  margin-top: 20%;
  margin-left: 60%;
  background-color: blanchedalmond;
  padding: 5%;
}

.gameboard {
  margin-top: 5%;
}

.action-choose-board {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.left-column {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-column {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column {
  flex: 0.2;
}
