<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="gameboard-container">
  <div class="row-display">
    <app-timeline
      class="timeline"
      [player]="gameboard.player"
      #timeline
    ></app-timeline>
    <div class="column-display">
      <div class="left-column">
        <app-actionplan
          #actionplan
          class="action-plan"
          (triggerActionConfirmed)="gameboard.assignAction($event)"
          (triggerAction)="gameboard.handleShowActionTarget($event)"
        ></app-actionplan>
      </div>
      <div class="main-column">
        <app-gameboard
          class="gameboard"
          #gameboard
          (actionFinished)="actionplan.setActionFinished($event)"
        ></app-gameboard>
        <!-- <app-action-choose-board
          class="action-choose-board"
          (triggerActionChoose)="gameboard.handleShowActionTarget($event)"
        ></app-action-choose-board> -->

        <p>Action1: {{ gameboard.player.actions[0] }}</p>
        <p>Action2: {{ gameboard.player.actions[1] }}</p>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
