.action-text {
  font-weight: bold;
  font-size: medium;
}

.action-place {
  width: 180px;
  height: 80px;
  background-color: antiquewhite;
  margin-bottom: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.action-place.disabled {
  background-color: grey;
}

.enable-action3 {
  font-weight: bold;
  background-color: khaki;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.enable-action3:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.confirm-action {
  font-weight: bold;
  background-color: khaki;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.confirm-action:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
