<div
  class="action-place"
  [ngClass]="{ 'with-border': getActionStatus(1) === ActionStatus.READY }"
>
  <p class="action-text">Action1: {{ actions[0] }}</p>

  <select
    [(ngModel)]="actions[0]"
    name="action1"
    class="action-selector"
    [ngClass]="ActionClassMap[actions[0]]"
    [disabled]="getActionConfirmed()"
  >
    <option
      *ngFor="let action of getFilteredAction('action1')"
      [ngValue]="action"
      class="action-option"
      [ngClass]="ActionClassMap[action]"
    >
      {{ action }}
    </option>
  </select>
</div>

<div
  class="action-place"
  [ngClass]="{ 'with-border': getActionStatus(2) === ActionStatus.READY }"
>
  <p class="action-text">Action2: {{ actions[1] }}</p>

  <select
    [(ngModel)]="actions[1]"
    name="action2"
    class="action-selector"
    [ngClass]="ActionClassMap[actions[1]]"
    [disabled]="getActionConfirmed()"
  >
    <option
      *ngFor="let action of getFilteredAction('action2')"
      [ngValue]="action"
      class="action-option"
      [ngClass]="ActionClassMap[action]"
    >
      {{ action }}
    </option>
  </select>
</div>

<div
  class="action-place"
  [ngClass]="{ 'with-border': getActionStatus(13) === ActionStatus.READY }"
>
  <p class="action-text">Action3: {{ actions[2] }}</p>

  <button
    class="enable-action"
    *ngIf="!getAction3Enabled()"
    (click)="setEnableAction3(true)"
    [disabled]="getActionConfirmed() && !getAction3Enabled()"
  >
    Enable Action3
  </button>

  <select
    *ngIf="getAction3Enabled()"
    [(ngModel)]="actions[2]"
    name="action3"
    class="action-selector"
    [ngClass]="ActionClassMap[actions[2]]"
    (change)="setEnableAction3(actions[2] !== Action.NONE)"
    [disabled]="!getAction3Enabled()"
  >
    <option
      *ngFor="let action of allActions"
      [ngValue]="action"
      class="action-option"
      [ngClass]="ActionClassMap[action]"
    >
      {{ action }}
    </option>
  </select>
</div>

<button
  class="confirm-action"
  *ngIf="!getActionConfirmed()"
  (click)="confirmAction()"
>
  Confirm action
</button>

<!--This button should be shown if player confirm to have action3  -->
<button
  class="confirm-action"
  *ngIf="getActionConfirmed() && getAction3Enabled()"
>
  Execute Action3
</button>
