<button
  class="action"
  [ngClass]="'action-move'"
  (click)="onClickButton(Action.MOVE)"
>
  Move
</button>
<button
  class="action"
  [ngClass]="'action-peek'"
  (click)="onClickButton(Action.PEEK)"
>
  Peek
</button>
<button
  class="action"
  [ngClass]="'action-push'"
  (click)="onClickButton(Action.PUSH)"
>
  Push
</button>
<button
  class="action"
  [ngClass]="'action-drag'"
  (click)="onClickButton(Action.DRAG)"
>
  Drag
</button>
<button
  class="action"
  [ngClass]="'action-special'"
  (click)="onClickButton(Action.SPECIAL)"
>
  Special
</button>
