<div class="player-actions">
  <button
    class="action"
    [ngClass]="'action-move'"
    (click)="gameboard.showAvailableRoomsForAction()"
  >
    Move
  </button>
  <button
    class="action"
    [ngClass]="'action-peek'"
    (click)="gameboard.showAvailableRoomsForAction()"
  >
    Peek
  </button>
  <button
    class="action"
    [ngClass]="'action-push'"
    (click)="gameboard.showAvailableRoomsForAction()"
  >
    Push
  </button>
  <button
    class="action"
    [ngClass]="'action-drag'"
    (click)="gameboard.showAvailableRoomsForAction()"
  >
    Drag
  </button>
  <button
    class="action"
    [ngClass]="'action-special'"
    (click)="gameboard.showAvailableRoomsForAction()"
  >
    Special
  </button>
</div>
