.action {
  margin: 2% 5%;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.action:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
