.game-board {
  display: grid;
}

.board-row {
  display: flex;
}

.room {
  margin: 10px;
}

.player-actions {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.action {
  margin: 2%;
}
