<div *ngFor="let row of roomDistribution" class="board-row">
  <div *ngFor="let room of row" class="room">
    <app-room
      [rowIndex]="room.getRowIndex()"
      [colIndex]="room.getColIndex()"
      [id]="room.id"
      [dangerousLevel]="room.dangerousLevel"
      [revealed]="room.revealed"
      (triggerRoomClicked)="handleRoomClicked($event)"
    >
      <app-player
        *ngIf="
          room.getRowIndex() === player.getRowIndex() &&
          room.getColIndex() === player.getColIndex()
        "
      ></app-player>
    </app-room>
  </div>
</div>

<ng-container *ngFor="let position of arrowPositions; let i = index">
  <div
    class="arrow"
    [style.top.px]="position.topPos"
    [style.left.px]="position.leftPos"
    (click)="handleDrag(getDirectionFromArrowIndex(i))"
  ></div>
</ng-container>
