.board-row {
  display: flex;
}

.room {
  margin: 10px;
}

.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: sandybrown; /* Adjust color as needed */
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.arrow:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.disabled {
  cursor: not-allowed;
  background-color: grey;
  opacity: 0.5;
  pointer-events: none;
}
