<div class="game-board">
  <div *ngFor="let row of rows">
    <div *ngFor="let col of cols" class="room">
      <app-room
        [rowIndex]="row"
        [colIndex]="col"
        [dangerousLevel]="roomDistribution[row * cols.length + col]"
      >
        <app-player
          *ngIf="row === player.rowIndex && col === player.colIndex"
        ></app-player>
      </app-room>
    </div>
  </div>

  <!-- Buttons for player movement -->
  <div class="player-controls">
    <button (click)="movePlayer('up')">Up</button>
    <button (click)="movePlayer('down')">Down</button>
    <button (click)="movePlayer('left')">Left</button>
    <button (click)="movePlayer('right')">Right</button>
  </div>
</div>
