<main>
  <div class="game-board">
    <div *ngFor="let row of rows">
      <div *ngFor="let col of cols" class="room">
        <app-room
          [rowIndex]="row"
          [colIndex]="col"
          [dangerousLevel]="roomDistribution[localFromIndexToID(row, col)]"
          [revealed]="roomRevealed[localFromIndexToID(row, col)]"
          (roomClicked)="handleRoomClicked($event)"
        >
          <app-player
            *ngIf="row === player.rowIndex && col === player.colIndex"
          ></app-player>
        </app-room>
      </div>
    </div>
  </div>
</main>

<section>
  <div class="player-actions">
    <button
      class="action"
      [ngClass]="'action-move'"
      (click)="showAvailableRoomsForAction()"
    >
      Move
    </button>
    <button
      class="action"
      [ngClass]="'action-peek'"
      (click)="showAvailableRoomsForAction()"
    >
      Peek
    </button>
    <button
      class="action"
      [ngClass]="'action-push'"
      (click)="showAvailableRoomsForAction()"
    >
      Push
    </button>
    <button
      class="action"
      [ngClass]="'action-drag'"
      (click)="showAvailableRoomsForAction()"
    >
      Drag
    </button>
    <button
      class="action"
      [ngClass]="'action-special'"
      (click)="showAvailableRoomsForAction()"
    >
      Special
    </button>
  </div>
</section>
